.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/**
.DS_Store
*.log
**/*.test.js
**/*.spec.js
test/**
tests/**
coverage/**
.nyc_output/**
**/*.d.ts
!out/**/*.d.ts
